# архивы-источники
*.mrpack
*.zip
# кэши и рантайм
showdown/
local/
dynamic-resource-pack-cache/
dynamic-data-pack-cache/
.mixin.out/
# бэкапы
*.bak
*.backup*
blueprints/
# редактор/система
.vscode/
.DS_Store
Thumbs.db
# осевшие jar (после mr install не нужны)
mods/*.jar
